:root {
  /* FONDO GENERAL */
  --bg-main: #BFF7D8;

  /* CARDS */
  --bg-card: #FFFFFF;
  --bg-card-blue: #29005C;
  --bg-card-secondary: #F1FFF8;

  /* VERDES */
  --green: #00D99B;
  --green-dark: #29005C;

  /* ACCENTO */
  --lime: #C9FF00;
  --lime-soft: #8EF0B6;

  /* TEXTOS */
  --white: #FFFFFF;
  --text-light: #29005C;
  --text-muted: #5F5171;

  /* BORDES */
  --border-green: rgba(41, 0, 92, 0.16);
}